@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset nhẹ để nhìn giống UI hiện đại */
html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

@media print {
  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* bỏ màu nền, hover */
  tr,
  td,
  th {
    background: white !important;
    box-shadow: none !important;
  }

  span {
    background: none !important;
    color: black !important;
    border: 1px solid #ccc;
  }
}

